
<!DOCTYPE html>
<html>
<head>
    <title>Text Processor</title>
    
    
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js">
    </script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet" type="text/css">

<style>
body{
background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);


}
</style>

</head>
<body>


